 background: none repeat scroll 0 0 #71AFDF;
  text-align: center;
  margin-top: 50px;
}

span {
  margin: 0 10px;
}

.btn-blue {
  @include round-button;
}
.btn-red {
  @include round-button($red);
}
.btn-green {
  @include round-button($green);
}
.btn-yellow {
  @include round-button($yellow);
}
